@import url('https://fonts.googleapis.com/css2?family=Exo+2');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');

/* Homepage Code */
/* Color of Background */
body{ background-color: #FEFBEA;
margin: 0px;
}

/* Navigation Bar Code */
.homepagenavigationbar{
  background-color: #1E232A;
  font-family: 'Exo 2';
  width: 100%;
  padding: 10 20px;
  height:100px;
  align-items: center;
  display: flex;
}

/* Image styling for the logo */
.homepagelogo{
  height:100px;
  width: auto;
  padding: 0px;
}

/* Code for the webpages in the navigation bar, linking to the indivdual games in the bundle */
.navigation-link{
  text-decoration: none;
  color: #ffa008;
  vertical-align: middle;
  padding: 0px 70px;
}

/* Code for when the user hovers over the indivdual game links in the navigation bar */
.navigation-link:hover{
  text-decoration: none;
  color: #FEFBEA;
}

/* Styling for the game link the user is in (in the navigavtion bar) */
.navigation-link.active{ 
  text-decoration: underline;
  color:#FEFBEA;
}

/* Styling for the 'Bit Bundle' title */
.homepagetitle{ 
  color: #ffa008;
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

/* Container that holds the cards for each game */
.cardbundle{
  display: flex;
  gap: 60px;
  padding-bottom:100px;
  margin-left: 7%;
}

/* Styling for each container that holds the link & short desecription of each indivdual page*/
.cardgame{ 
  width: 350px;
  padding: 10px;
  background-color: #1E232A;
  border-radius: 30px;
}

/* Styling for the game title in each card */
.gameTitle{
  width:350px;
  font-family: 'Orbitron';
  color: #ffa008;
  text-align: center;
  text-decoration: underline;
  padding: 0;
}

/* Styling for the images in each game */
.homepageimage{
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

/* Styling for the description of each game */
.gamehomepagedesc{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
}

/* Styling for the button that holds the link to each page */
.SeeMore{
  background-color: #ffa008;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Styling for the text that links to each page when the user is hovering over it */
.SeeMore:hover { 
  text-decoration: underline;
  color:#FEFBEA;
  }

/* Styling for the text in the button which links to each page */
.button{
  color:#FEFBEA;
  text-decoration: none;
  font-family: 'Orbitron';

}

/* Code for the container of the Why Bit Bundle Title & Text */
.whybitbundle{
  background-color:#1E232A;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

/* Code for the subtitles in the Bit Bundle Homepage - for the Why Bit Bundle title &  Devices title */
.homepagesubtitle{
  color: #ffa008;
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* Styling on the description of why to buy Bit Bundle */
.homepagesubtitledescription{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
  margin-left: 10%;
  margin-right: 10%;
}


/* Code for the button containing the link to Get Bundle page */
.GetBundleButtonHP{
  background-color: #ffa008;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 600px;
  margin-right: 600px;
  margin-top:25px;
}

/* Text which links to the Get Bundle page */
.getbundleclickingbuttonHP{
  color:#FEFBEA;
  text-decoration: none;
  font-family: 'Orbitron';
}
/* Styling for when the user is hovering over the text which contains the link to the Get Bundle page */
.getbundleclickingbuttonHP:hover{
  text-decoration: underline;
}

/* Card for each compatible device */
.DeviceCard{
  background-color:#1E232A;
  width: 300px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Name of the comptabile devices*/
.devicename{
  color: #ffa008;
  font-family: 'Orbitron';
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 10px;
}

/* Styling of the description for each compatible device */
.devicecardesc{
  font-family:'Exo 2';
  color:#ffa008;
  text-align: center;
  margin-top: 0px;
}

/* Container that holds all the compatible device cards */
.devicelineup{
  display:flex;
  gap: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

/* The Windows/Tablet icon styling - which aren't avalible for free in the font awesome pack */
.homepageicon{
  width: 24px;
  height: auto;
}

/* Code for each Review Card on the homepage */
.reviewcardHP{
  min-width: 250px;
  height: 200px;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 30px;
  padding: 20px;
  font-family: 'Exo 2';
  border: 5px solid #ffa008;
}

/* Code Used for the Footer */
/* Container for all elements in the footer */
.homepagefooter{
  margin-top: 50px;
  background-color: #ffa008;
  width: 100%;
  height: 320px;
  padding-top: 20px;
  padding-left: 20px;
  display:flex
}

/* Links to all gamepages in the footer */
.pagedetailslink{
  font-family: 'Exo 2';
  color: #1E232A;
  font-size: 20px;
  text-decoration: none;
}

/* Styling for when the user hovers over any link to the gamepages */
.pagedetailslink:hover{
  font-family: 'Exo 2';
  color: #1E232A;
  font-size: 20px;
  text-decoration: underline;
}

/* Styling for the 'Contact Us' title in the first coloumn */
.contacttitle{
  font-family: 'Exo 2';
  color: #1E232A;
  font-style: italic;
  padding-top: 20px;
}

/* Styling for the contact info under the 'Contact Us' title */
.contactdetail{
  font-family: 'Exo 2';
  color: #1E232A;
  font-size: 20px;
}

/* Styling for the titles in the center coloumn of the footer */
.footercentercolumntitle{
  font-family: 'Exo 2';
  color: #1E232A;
  font-style: italic;
  margin-left:200px
}

/* Styling for the images in the center coloum of the footer */
.footercentercolumnimage{
  width: 400px;
  height: auto;
  margin-left: 200px;
  padding-bottom: 30px;
}

/* Styling for the 'Stay Connected' title in the final coloumn of the footer */
.StayConnectedtitle{
  font-family: 'Exo 2';
  color: #1E232A;
  font-style: italic;
  margin-left:300px
}

/* Styling for the Stay Connected image in the final coloumn of the footer */
.StayConnectedImage{
  width: 300px;
  height: auto;
  margin-left: 280px;
  padding-bottom: 30px;
  margin-right: 50px;
}

/* Styling for the 'Secured By' title in the final coloumn in the footer */
.SecuredByTitle{
  font-family: 'Exo 2';
  color: #1E232A;
  font-style: italic;
  margin-left:300px;
  font-size: 15px;
  padding-bottom: 0px;
}

/* Styling for the Cyber Cipher logo in the final coloumn of the footer */
.SecuredByImage{
  width: 200px;
  height: auto;
  margin-left: 300px;
  border-radius: 20px;
}


/* Bookaflight Code */

/* Color of Background */
.bookaflightbody{
  background-color: #ffe455;
  margin: 0px;
}

/* Code for the Header of the Bookaflight */

/* Styling of the header of the page  */
.headerforbookaflight {
  height: 500px;
  background-color: #ff5659;
  display: block;
}

/* Container of all elements in the header */
.bookaflightheadercontainer {
  display: flex;
  height: 500px;
  background-color: #ff5659;
  align-items: center;
}

/* Container holding the short description of Bookaflight and link to the Get Bundle page */
.bookaflightheadertextcontainer{
  margin-right: 75px;
  background-color: #aaecff;
  border-radius: 30px;
  width: 400px;
  text-align: center;
  margin-left: 75px;
}

/* Styling for the title of the game in the header */
.bookaflightheadertitle{
  font-family: 'Orbitron';
  color: #ff5659;
  font-size: 30px;
  margin-bottom:0;
}

/* Styling for the short description of Bookaflight in the header */
.bookaflightheaderdescription{
  font-family: 'Exo 2';
  color: #ff5659;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
}

/* Code for the button containing to the link to Get Bundle Page */
.GetBundleButton{
  background-color: #ffe445;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
}

/*Text in the button that links to the Get Bundle Page */
.getbundlebuttonlink{
  color:#1E232A;
  text-decoration: none;
  font-family: 'Orbitron';
}

/* Styling for when the user is hovering over the text that links to the Get Bundle Page */
.getbundlebuttonlink:hover { 
  text-decoration: underline;
  color:#1E232A;
  }


/* Why Bookaflight Code */

/* Container holding all the elements that encourage users to play Bookaflight */
.whybookaflightcontainer{
  background-color: #aaecff;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}

/* Styling for the title in the Why Bookaflight container */
.whybookaflighttitle{
  color: #ff5659;
  font-family: 'Orbitron';
  font-size: 30px;
  padding-top: 20px;
  padding-left: 50px;
  margin-bottom: 0;
}

/* Display for all elements in the Why Bookaflight container which excludes the title */
.whybookaflightimagedesccontainer{
  display: flex;
}

/* Styling for the description of why users should play Bookaflight */
.whybookaflightdescription{
  margin-top: 5px;
  font-family: 'Exo 2';
  font-size: 30px;
  min-width: 600px;
  margin-left:50px;
}

/* Styling for the icon that sits within the Why Bookaflight container */
.bookaflighticon{
 width: 470px;
 height: 400px;
 margin-top: -20px;
}

/* Educational Benefits Code */

/* Styling for the title of what educational benefits a user can gain while playing bookaflight */
.educationalbenefitstitle{
  color: #ff5659;
  font-family: 'Orbitron';
  text-align: center;
  padding-top: 50px; 
  margin-bottom: 25px;
}
/* Display for all elements in the Educational Benefits container which excludes the title  */
.educationalbenefitscontainer{
  display: flex;
}

/* Container for the dotpoints of the Education Benefits Bookaflight offers*/
.educationalbenefitsdotpointcontainer{
  margin-left: 50px;
  margin-right: 100px;
}

/* Styling for the dotpoints which introduce the educational outcomes of Bookaflight */
.educationalbenefitsdotpoint{
  font-family: 'Exo 2';
  font-size: 25px;
  color: #ff5659;
}

/* Styling for the image which displays an educational benefit of Bookaflight in action */
.BookaflightEducationalBenefitsImg{
  width:500px;
  height: 400px;
  margin-left: 100px;
  margin-top: 40px;
}

/* Styling for the circle icon for each dot point */
.fa-solid.fa-circle {
  color: #ff5659;
  font-size: 15px;
}

/* Reviews Code */

/* Container holding all reviews */
.reviewcontainer{
  display: flex;
  gap: 50px;
  margin-left: 3%;
  margin-right:20%
}

/* Styling for each review card of the Bookaflight page */
.reviewcard{
  min-width: 250px;
  height: 150px;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 30px;
  padding: 20px;
  font-family: 'Exo 2';
  border: 5px solid #ff5659;
}

/* Styling for each profile picture in the review card */
.profilepicture{
  width: 50px;
  height:50px;
}

/* Container holding the profile picture and username */
.UserNameContainer{
  display: flex;
  gap:5px;
}

/* Styling for each username of the review card */
.UserName{
  font-size:20px;
  font-style: italic;
  margin-top:0px;
  margin-bottom: 3px;
}

/* Styling for the each star in the star rating */
.fa-solid.fa-star{
  color:#ffa008;
  margin-top: 0;
}

/* Big T's Cyber Forest Code */
.GetBundleButtonCyberforest{
  background-color: #ffee8d;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainscreenshot{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid lime;
}

.cyberforestheading{
  font-family: 'Orbitron';
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  background-color: rgb(34, 193, 34);
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 10px;
  padding: 10px;
}

.cyberforestbody{
  background-image: linear-gradient(#001f01, rgb(0, 199, 0));
}

.cyberforesttext{
  font-family: 'Orbitron';
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: auto;
  font-weight: bold;
}

.cyberforestsubheading{
  font-family: 'Orbitron';
  font-size: 40px;
  text-align: center;
  margin-left: 20px;
  margin-right: auto;
  color: lime;
  text-decoration: underline;
}


/* Go Phish Code */
.ednahomepagebody{
  background-color: #392719;
  margin: 0px;
}
/*Titles of the game*/
.coolertitle{
  font-family: 'Orbitron';
  text-align: center;
  color: #c9d6e0;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}

/* Content of the game */
.coolersubtitle{
  font-family: 'Orbitron';
  color: #c9d6e0;
  text-decoration: underline;
  font-size: 40px;
  margin: 0px;
}
/*Content description*/
.coolerdescription{
  font-family: "Exo 2";
  color: #c9d6e0;  
  font-size: 20px;
}

.mysupercoolimage{
  width: 600px;
  height: 500px;
  border-radius: 10px;
}

.coolercontainer {
  display: flex;
  gap: 50px;

}

/*button to link to the get bundle page */
.Bundlefishlink{
  background-color: #c9d6e0;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.Bundlefishlink:hover{
  text-decoration: underline;
  color:whitesmoke;
}

/* Get Bundle Code */

/* Code for Get Bundle Header */

/* Code for the Bit Bundle Price card which holds the price, title and image of the bundle */
.getbundlecostcard{
  border: 5px solid #ffa008;
  max-width: 500px;
  height:440px;
  border-radius: 30px;
  margin-top:10px;
  text-align: center;
  background-color:#1E232A;
  margin-left: 50px
}

/* Styling for the titles in the Bit Bundle Price Card */
.getbundlecosttitle{
  font-family: 'Orbitron';
  color:#FEFBEA;
  background-color: #ffa008;
  font-size: 30px;
  margin:0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px
}

/* Styling for the image in the Bit Bundle Price Card */
.getbundleimg{
  width:500px;
  height: auto;
}

/* Container for the header containg the Bit Bundle Price Card, 'Thank Yo'u' title and thank you description */
.thankyoucontainer{
  width:100%;
  background-color:#1E232A;
  height:600px;
  display:flex;
  align-items: center;
}

/* Styling for the thank you description in the header */
.thankyoudescrption{
color:#ffa008;
font-family: 'Exo 2';
font-size: 30px;
margin-left: 50px;
margin-right:50px;
vertical-align: center;
margin-top:0;
}

/* Styling for the 'Thank you' title */
.thankyoutitle{
  font-size: 40px;
  margin-top: 20px;
  color:#ffa008;
  font-family: 'Orbitron';
  text-align: center;

}

/* Styling for the check icon above the 'Thank you' title */
.fa.fa-solid.fa-check{
  font-size: 50px;
  border: 10px solid #ffa008;
  border-radius: 150px;
  background-color: #ffa008;
  color:#FEFBEA;
  margin-top: 10px;
  margin-left: 410px;
}

/* Container for the elemens which show how to download Bit Bundle through different platforms */
.HowtoDownloadContainer{
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  gap: 25px;
}
/* Card which holds the icon and description on how to download for each platform */
.downloadcard{
  background-color:#1E232A;
  padding: 25px;
  height: 520px;
  width: 600px;
  border-radius: 20px;
}
/* Styling for the image which shows how to download through Apple Appstore and Scratch */
.downloadimg{ 
width:100%;
height: auto;
margin: 0px;
}

/* Styling for the numbered steps on how to download */
.stepstodownload{
  font-family: 'Exo 2';
  color: #ffa008;
  font-size: 20px;
  margin:5px;
}



