@import url('https://fonts.googleapis.com/css2?family=Exo+2');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');


body{ background-color: #FEFBEA;
margin: 0px;
}

.bookaflightbody{
  background-color: #ffe455;
  margin: 0px;
}

.homepagenavigationbar{
  background-color: #1E232A;
  font-family: 'Exo 2';
  padding: 10px 20px;
  width: 100%;
  height:100px;
  align-items: center;
  display: flex;
}

.homepagenavigationbar1{              
  background-color: #1E232A;
  font-family: 'Exo 2';
  padding: 10px 20px;
  width: 100%;
  height:100px;
  align-items: center;
  display: flex;
  margin-bottom: 50px;
}
/* This is for hamsinis website, so that the navigation bar is a different colour on her webpage */

.navigation-link.active{ 
  text-decoration: underline;
  color:#FEFBEA;
}
.navigation-link.active1{ 
  text-decoration: underline;
  color:#ffe455;
}
/* This is for hamsinis website, so that the the link that she is in is a different colour on her webpage in the navigation bar*/

.navigation-link{
  text-decoration: none;
  color: #ffa008;
  vertical-align: middle;
  padding:0 120px; 
}

.navigation-link1{ 
  text-decoration: none;
  color: #ff5659;
  vertical-align: middle;
  padding:0 120px; 
}

.homepagetitle{ 
  color: #ffa008;
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.main-screenshot {
  text-align: center;
  margin-left: 450px;
  margin-right: auto;
}

.headerforbookaflight {
  height: 600px;
  padding-right: 893.5px;
  background-color: #ff5659;
  display: flex;
}

.homepagelogo{
  height:100px;
  width: auto;
  padding: 0px;
}

.cardCyberforest{
  width: 350px;
  padding: 10px;
  background-color: #1E232A;
  border-radius: 30px;
  margin-left: 300px;
}

.cardBookaflight{ 
  width: 350px;
  padding: 10px;
  background-color: #1E232A;
  border-radius: 30px;
}


.cardGoPhish{
  width: 350px;
  padding: 10px;
  background-color: #1E232A;
  border-radius: 30px;
}

.CyberForestTitle{
  width:350px;
  font-family: 'Orbitron';
  color: #ffa008;
  text-align: center;
  text-decoration: underline;
  padding: 0;
}

.BookaflightTitle{
  width:350px;
  font-family: 'Orbitron';
  color: #ffa008;
  text-align: center;
  text-decoration: underline; 
}

.GoPhishTitle{
  width:350px;
  font-family: 'Orbitron';
  color: #ffa008;
  text-align: center;
  text-decoration: underline;
  padding: 0;
}

.homepageimage{
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.cyberforesthomepagedescription{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
}

.bookaflighthomepagedescription{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
}

.gophishhomepagedescription{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
}

.cyberforesthomepagedescription{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
}

.SeeMore{
  background-color: #ffa008;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.SeeMore:hover { 
  text-decoration: underline;
  color:#FEFBEA;
  }

.button{
  color:#FEFBEA;
  text-decoration: none;
  font-family: 'Orbitron';

}
.cardbundle{
  display: flex;
  gap: 100px;
  padding-bottom:100px;
}

.homepagesubtitle{
  color: #ffa008;
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.homepagesubtitledescription{
  text-align: center;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  font-family: 'Exo 2';
  color: #ffa008;
  margin-left: 300px;
  margin-right: 300px;
}

.DeviceCard{
  padding:15px 100px 100px 100px;
  background-color:#1E232A;
  width: 100px;
  border-radius: 30px;
  font-family: 'Exo 2';
  color: #ffa008;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;

}

.main-screenshot{
  width: 50%;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.devicelineup{
  display:flex;
  gap: 50px;
  margin-left:300px;
}

.whybitbundle{
  background-color:#1E232A;
  padding: 50px;
  width: 1905px;
}

.fa {
  font-size: 20px;
}
.fa fa-brands fa-windows{
  font-size: 20px;
}
.homepageicon{
  width: 30px;
  height: auto;
}
.homepageicon1{
  width: 35px;
  height: auto;
}

.whybookaflightcontainer{
  background-color: #aaecff;
  width: 100%;
  height: 500px;
  margin-top: 100px
}

.coolertitle{
  font-family: 'Orbitron';
  text-align: center;
  background-color:#ABBFC7 ;
  font-size: 40px;
  color: #1E232A;  
}


.whybookaflighttitle{
  color: #ff5659;
  font-family: 'Orbitron';
  padding-left: 100px;
  padding-top: 50px; 
  margin-bottom: 0px;
}

.whybookaflightdescription{
  font-family: 'Exo 2';
  font-size: 30px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 600px;
}

.coolerdescription{
  font-family: "Orbitron";
  text-align: center;
  color: #1E232A;  
  font-size: 30px;
  background-color: #ABBFC7;
}

.mysupercoolimage{
  width: 50%;
  margin-left: 450;
  margin-right: auto;
}
